<div class="flex justify-between items-center my-8">
  <h1 class="text-3xl capitalize"><%= deviceGroup.name%></h1>
  <div class="mr-0">
    <a class="bg-blue-700 rounded p-3 text-white cursor-pointer mr-2" href="/smart-control-settings/view/<%= deviceGroup.smartControlSettings && deviceGroup.smartControlSettings[0] ? deviceGroup.smartControlSettings[0].id : '' %>">Smartkontroll</a>
    <button id="showImportModal" class="bg-teal-700 rounded p-2 text-white cursor-pointer" onclick="document.getElementById('importDevicesModal').classList.remove('hidden')">Importer enheter</button>
  </div>
</div>
<h6 class="mb-4 text-lg font-medium text-gray-800">Enheter</h6>
<% if (deviceGroup?.devices?.length > 0) { %>
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Navn</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Type</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Temperatur</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Smartkontroll</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Siste synk</th>
        <th scope="col" class="relative px-6 py-3">
          <span class="sr-only">Vis</span>
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% deviceGroup.devices.forEach(device => { %>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap">
            <div class="flex items-center">
              <div class="flex-shrink-0">
                <h6 class="text-sm font-medium text-gray-900"><%= device.name %></h6>
              </div>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <p class="text-sm text-gray-500"><%= device.type %></p>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <p class="text-sm text-gray-500"><%= device.targetTemperature ? device.targetTemperature + '°C' : 'N/A' %></p>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <% if (device.excludeSmartControl) { %>
              <span class="text-sm text-red-500">Deaktivert</span>
            <% } else { %>
              <span class="text-sm text-green-500">Aktivert</span>
            <% } %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <span class="text-sm text-green-500"><%= device.status %></span>
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            <span class="text-sm text-gray-500"><%= new Date(device.lastSync).toLocaleString() %></span>
          <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
            <a href="/devices/<%= device.id %>" class="text-blue-600 hover:text-blue-900">Vis</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <div class="empty-state">
    <p>Du har ingen enheter i denne gruppen ennå.</p>
    <p>Importer enhetene dine fra leverandør</p>
  </div>
<% } %>
<%- include('./import') %>
